body {
  background: #f5f5f5; }

/* body .el-table th.gutter{
    display: table-cell!important;
} */
.edit_module {
  background: #fff;
  padding: 10px;
 
}
  .edit_module .edit_module_btn {
    text-align: right; }
    .edit_module .edit_module_btn .el-button--primary {
      background: #5bc0de;
      border-color: #5bc0de; }

.list_module {
  height: 100%;
  overflow: auto;
  padding: 15px;
  background: #fff;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .list_module .table_body {
    width: 100%;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box; }
    .list_module  h4 {
      font-size: 16px;
      line-height: 20px;
      font-weight: normal;
      padding: 6px 0 15px 15px;
      position: relative; }
      .list_module h4::before {
        position: absolute;
        content: "";
        width: 3px;
        height: 20px;
        background: #5BC0DE;
        left: 0;
        top: 6px; }

        
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #5bc0de; }

.el-pagination {
  text-align: center;
  padding: 20px 0; }

.el-form-item {
  margin-bottom: 0;
  padding: 10px 0; }


#addForm .el-select {
  width: 100%; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background: rgba(91, 192, 222, 0.1); }

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: rgba(91, 192, 222, 0.1); }

.table_body .el-button--mini {
  padding: 7px;
  position: relative; }

.table_body .el-button--mini span.text {
  display: block;
  position: absolute;
  /*background: #5bc0de;*/
  background:rgba(0,0,0,.4);
  color: #fff;
  padding: 5px 8px;
  /*left: -7px;
  top: -24px;*/
  right:30px;
 	top:2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none; }

.table_body .el-button--mini:hover span.text {
  display: block; }

.table_body .el-table .cell {
  color: #333;
  word-break: break-word;
  font-size: 14px;
  overflow: visible; }
.table_body thead th{
  background: #eef9fc;
  line-height: 35px;
}

.table_height{
  overflow: auto;
  position: relative;
}
.table_height table{
   width: 100%;
}
.table_height th{
  line-height:35px;
  border: 1px solid #f5f5f5;
  color: #333;
}
.table_height td{
  text-align: center;
  line-height: 40px;
  border: 1px solid #f5f5f5;
  padding: 10px 0;
}
.table_height td .form-control{
  width: 90%;
  border-radius: 4px;
  line-height: 30px;
}




.plus-btn, .search-btn {
  background: #5bc0de;
  border-color: #5bc0de; }

.plus-btn:hover {
  background: rgba(91, 192, 222, 0.8);
  border-color: rgba(91, 192, 222, 0.8); }

.search-btn {
  background: #88dff9;
  border-color: #88dff9; }

.search-btn:hover {
  background: rgba(136, 223, 249, 0.8);
  border-color: rgba(136, 223, 249, 0.8); }

/*弹出框修改*/
.el-dialog {
  overflow: hidden;
  background: transparent; }

.el-dialog--center .el-dialog__body {
  padding: 25px 25px 30px; }

.el-dialog__header {
  background: #f5f5f5;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0; }
  .el-dialog__header span {
    border-left: 5px solid #5bc0de;
    padding-left: 10px; }
  .el-dialog__header .el-dialog__headerbtn i {
    font-size: 20px; }

.el-dialog__body {
  background: #fff;
  padding: 30px 40px; }

.el-dialog__footer {
  background: #fff; }

  .el-input__inner {
    border: 1px solid #ccc;
  }
.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
  margin-bottom: 0; }
.el-input--suffix .el-input__inner {
    padding-right: 30px;
    color: #666;
}
.el-textarea.is-disabled .el-textarea__inner{
  border-color: #ccc;
  color: #999;
}

/* 左侧导航 */
.el-menu-item-group__title {	
  padding: 0 0 0 20px;
}
/* 去除input框type类型为number时箭头 */
input[type="number"]{
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{  
   -webkit-appearance: none !important;      
}

.red{
  color: #f60;
  margin-right: 5px;
}
/* 搜索条件*/
.el-form--inline .el-form-item__label {
  border-radius: 4px 0 0 4px;
  background: #F5F7FA;
  border: 1px solid #dcdfe6;
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 10px;
  color: #909399;
  font-size: 13px;
}

.el-form--inline .el-form-item--small .el-form-item__label {
  border-radius: 3px 0 0 3px;
  background: #F5F7FA;
  border: 1px solid #ccc;
  text-align: center;
  height: 32px;
  line-height: 32px;
  padding: 0 14px 0 14px;
  color: #333;
  font-size: 12px;
}

.el-form--inline .el-input__inner{
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
    border: 1px solid #ccc;
}

.el-input.is-disabled .el-input__inner {
  border-color: #ccc;
  color: #999;
}

.el-form--label-top .el-col-8{
  width: 32%;
  margin-right: 1%; 
}
.el-form--label-top .el-col-12{
  width: 49%;
  margin-right: 1%; 
}
.el-form--label-top .el-col-24{
  width: 99%;
}
.el-form--label-top .el-form-item__label{
  padding:0;
}
.el-cascader-node__postfix{
  position: static;
}

/* 分页样式修改 */
.slot_pag{
  display: inline-block;font-weight: normal;
}
.slot_pag .el-input{
  width:50px;
}
.slot_pag .el-button{
  color: #FFF;background-color: #409EFF;border-color: #409EFF;
}
.slot_pag button:hover {
  color: #fff;
}
.el-loading-spinner .el-loading-text{
  font-size: 20px;
}
.el-loading-spinner i{
  font-size: 30px;
}